.header img {
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header nav {
  background-color: black;
  line-height: 40px;
  text-align: center;
}
nav a {
  text-decoration: none;
  padding: 5px;
  margin-right: 5px;
  color: white;
}
nav a:hover {
  background-color: darkgray;
}
